<p style="color: green"><%= notice %></p>
<h1>Apps</h1>

<div id="apps">
  <% @app.each do |app| %><%= render 'f' %>
    <%= render app %>
    <p>
      <%= link_to "Show this app", app %>
    </p>
  <% end %>
</div>

<%= link_to "New app", new_app_path %>
