<p style="color: green"><%= notice %></p>

<%= render @app %>

<div>
  <%= link_to "Edit this app", edit_app_path(@app) %> |
  <%= link_to "Back to apps", apps_path %>

  <%= button_to "Destroy this app", @app, method: :delete %>
</div>
